h2{
    font-size: 54px;
}

nav a{
    font-weight: 700;
}

nav .nav-link{
    font-weight: 700;
}

.card-img-top{
    height: 400px;
}

.carousel-caption h5{
    font-size: 80px;
    color: #ffc107;
    text-shadow: 2px 2px 2px black;
}

footer p{
    font-weight: 700;
    font-size: 20px;
}